{% extends 'base.html.twig' %}

{% block page_title %}Blog posts{% endblock %}

{% block content %}
  <div class="row">
    <a class="btn btn-primary" href="{{ path('blog_new') }}">新しい記事を書く</a>
  </div>

  <div class="row">
    {% if posts | length > 0 %}
      <table class="table table-bordered">
        <thead>
        <tr>
          <td>ID</td>
          <td>タイトル</td>
          <td>作成日</td>
          <td>操作</td>
        </tr>
        </thead>
        <tbody>
          {# posts配列をループして、投稿記事の情報を表示 #}
          {% for post in posts %}
            <tr>
              <td><a href="{{ path('blog_show', {id: post.id}) }}">{{ post.id }}</a></td>
              <td>{{ post.title }}</td>
              <td>{{ post.createdAt|date('Y/m/d H:i') }}</td>
              <td>
                <a class="btn btn-info" href="{{ path('blog_edit', {'id': post.id}) }}">編集</a>
                <a class="btn btn-danger" href="{{ path('blog_delete', {'id': post.id}) }}">削除</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No Posts</p>
    {% endif %}
  </div>
{% endblock %}
